// Mixins in here

.center(){
    display: flex;
    justify-content: center;
}

.text(){
    font-weight: bold;
    color: @all-text;
}

.button(){
    height: 4.5rem;
    width: 20rem;
    background-color: darken(@button-bg, 12%);
    border-radius: 4rem;
    font-size: 2rem;
    text-align: center;
    padding-top: 5%;
    color: @white;        
}