
header{
    

    nav{
        display:flex;
        align-items:center;
        justify-content: flex-end;
        border: red solid 2px;
        padding: 3%;
        
         a{
            border: blue solid 2px;
            padding-inline-end: 5%;
            font-size: 1.6rem;
            text-decoration: none;
            font:@shark;
            font-weight: bolder;

         }
            
            
            
             
     #headertitle{
                padding: 0% 40% 0% 0%;
                border: green 2px solid;
          
        }    
    
            
             


    }
 
 
}

  


  

